<p class="text-blue-400">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis rerum exercitationem doloremque libero, optio
    temporibus quo beatae accusamus quasi dolorum cum qui sed cumque quia amet corrupti officiis dolor iusto quibusdam.
    Fugiat, earum culpa nemo quos praesentium necessitatibus amet saepe debitis inventore officia tenetur vel nulla
    laboriosam suscipit dolores repellat autem. Corrupti natus quidem vero laborum similique repellat voluptates
    voluptate iste amet velit, exercitationem ipsam quos reprehenderit facilis in sed deserunt libero totam saepe
    obcaecati voluptas? Aut, commodi. Ex similique repellendus nesciunt? Repellat vel odit pariatur esse ullam iste
    dignissimos reiciendis, officia delectus, nesciunt ipsam ut quia, sint nisi libero.
</p>