// background after/before color start

.bg-after-before {
  background-color: #edf9eb;
}

@media screen and (min-width: 1200px) {
  .bg-after-before {
    position: relative;
    background-color: white;
  }

  .bg-after-before::before {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 60%;
    background-color: #edf9eb;
    content: "";
  }
}

// background after/before color end

// button linebar effect start
.btn-linebar-effect {
  a {
    padding-bottom: 0.25rem /* 4px */;
  }
  // border for active page
  // padding-bottom: 0.25rem; /* 4px */

  &:after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #56aa46;
    transition: width 0.3s;
  }
}

.btn-linebar-effect:hover::after {
  width: 100%;
  //transition: width .3s;
}

.btn-linebar-effect-2 {
  // border for active page

  &:after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #56aa46;
    transition: width 0.3s;
    margin-top: -3px;
  }
}

.btn-linebar-effect-2:hover::after {
  width: 100%;
  //transition: width .3s;
}

// button linebar effect end

input:checked + div svg {
  @apply block;
}

@keyframes pulse {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

/* form start */
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

/* Custom Preloader start */

/* Custom Preloader end */

/* button play effect start */

.btn_effect {
  // min-width: 64px;
  // width: 64px;
  // height: 64px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  background: #053a2b;
  transition: 0.5s;
}

.btn_effect:before {
  content: "";
  position: absolute;
  width: 85%;
  height: 85%;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0.6;
  z-index: -1;
  animation: pulse 2s ease-out infinite;
}

.btn_effect:after {
  content: "";
  position: absolute;
  width: 85%;
  height: 85%;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  opacity: 0.7;
  z-index: -1;
  animation: pulse 2s 1.5s ease-out infinite;
}

@keyframes pulse {
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

/* button play effect end */

// image zoom start

// Zoomable

.zoomable {
  $parentSelector: &;

  position: relative;
  overflow: hidden;

  &__img {
    transform-origin: var(--zoom-pos-x, 0%) var(--zoom-pos-y, 0%);
    transition: transform 0.15s linear;
  }

  &--zoomed {
    #{$parentSelector}__img {
      cursor: zoom-in;
      transform: scale(var(--zoom, 2));
    }
  }
}

// image zoom end

// custom checkbox start
.form-group {
  display: block;
  margin-bottom: 15px;
}

.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group label {
  position: relative;
  cursor: pointer;
}

.form-group label:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid #1c1c1c;
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.form-group label:hover:before {
  background-color: white;
  border: white;
}

.form-group input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 7px;
  left: 7px;
  width: 6px;
  height: 12px;
  border: solid #6d8c36;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

// custom checkbox end

// custom radio ring button start
/* label container */
.radio-button-container {
  color: rgba(0, 0, 0, 0.75);
  display: block;
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio-button-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 6px;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: transparent;
  border-radius: 100%;
  border: 2px solid #b0b0b0;
  transition: all 0.3s;
}

/* On mouse-over, add a grey background color */
.radio-button-container:hover input ~ .checkmark {
  border-color: rgba(0, 0, 0, 0.5);
}

/* When the radio button is checked */
.radio-button-container input:checked ~ .checkmark {
  background-color: #fff;
  border-color: #053a2b;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-button-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-button-container .checkmark:after {
  top: 2px;
  left: 2px;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: #053a2b;
}
// custom radio ring button end
