<section class="section-py bg-gradient-2">
    <div class="container">
        <div class="grid xxl:grid-cols-12 lg:grid-cols-2 grid-cols-1 items-center lg:my-gap-24 gap-10">
            <div class="xxl:col-start-1 xxl:col-end-7">
                <h6 class="text-base font-bold text-primary gap-mb-16 wow fadeInUp" data-wow-duration="1.5s">
                    CONTACT US
                </h6>
                <h2 class="text-64 text-left text-neutral-700 gap-mb-24 wow fadeInUp" data-wow-duration="1.5s">
                    Have Questions? <span class="text-primary font-dm_sans">Get in Touprivacy!</span>
                </h2>
                <p class="text-left text-18 text-neutral-400 gap-mb-32 font-medium wow fadeInUp"
                    data-wow-duration="1.5s">
                    For questions or appointments, contact us by phone, email, or online form. We're here to help.
                </p>
                <div class="*:flex-centerY *:gap-3 grid my-gap-24 text-18 text-neutral-600 wow fadeInUp"
                    data-wow-duration="1.5s">
                    <div>
                        <i class="ph ph-crosshair icon-24 text-primary"></i>
                        <span>Seminyak No.19, Badung, Bali.</span>
                    </div>
                    <div>
                        <i class="ph ph-phone-call icon-24 text-primary"></i>
                        <a href="tel:18884521505" class="hover:text-primary transition-1">1-888-452-1505</a>
                    </div>
                    <div>
                        <i class="ph ph-envelope-simple icon-24 text-primary"></i>
                        <a href="mailto:info@email.com" class="hover:text-primary transition-1">info@email.com</a>
                    </div>
                </div>
            </div>
            <div class="xxl:col-start-8 xxl:col-end-13">
                <form class="wow fadeInUp" data-wow-duration="0.8s">
                    <div class="grid sm:grid-cols-2 grid-cols-1 my-gap-32 gap-mb-32">
                        <div>
                            <label for="name" class="text-base text-neutral-300">Your Name*</label>
                            <input type="text" name="name" id="name" class="line-input-1" required />
                        </div>
                        <div>
                            <label for="email" class="text-base text-neutral-300">Your email address*</label>
                            <input type="email" name="email" id="email" class="line-input-1" required />
                        </div>
                        <div>
                            <label for="phone" class="text-base text-neutral-300">Your Phone*</label>
                            <input type="number" name="phone" id="phone" class="line-input-1" />
                        </div>
                        <div x-data="{ open: false, selectedOption: '' }" class="relative">
                            <!-- Trigger button -->
                            <div>
                                <button type="button" @click="open = !open"
                                    class="w-full inline-flex items-center justify-between gap-1 ">
                                    <span class="text-neutral-300">Category</span>
                                    <i :class="{ 'transform rotate-180': open }"
                                        class="ph ph-caret-down text-base text-neutral-300 transition-1"></i>
                                </button>
                                <span id="category"
                                    class="line-input-1 h-6 text-base font-medium text-neutral-700 block"
                                    x-text="selectedOption !== '' ? selectedOption : ''"></span>
                            </div>
                            <!-- Dropdown options -->
                            <ul x-show=" open" @click.away="open = false"
                                class="absolute z-10 w-full py-1 mt-1 bg-white text-neutral-800 border border-gray-300 rounded-md shadow-lg max-h-56 overflow-auto focus:outline-none sm:text-sm"
                                style="display: none;">
                                <li x-on:click="selectedOption = 'Careers'; open = false"
                                    class="px-4 py-2 cursor-pointer hover:bg-gray-100">
                                    Careers</li>
                                <li x-on:click="selectedOption = 'Counseling'; open = false"
                                    class="px-4 py-2 cursor-pointer hover:bg-gray-100">
                                    Counseling</li>
                                <li x-on:click="selectedOption = 'General Inquiries'; open = false"
                                    class="px-4 py-2 cursor-pointer hover:bg-gray-100">
                                    General Inquiries</li>
                                <li x-on:click="selectedOption = 'Corporate Wellness'; open = false"
                                    class="px-4 py-2 cursor-pointer hover:bg-gray-100">
                                    Corporate Wellness</li>
                            </ul>
                        </div>
                        <div>
                            <label for="phone" class="text-base text-neutral-300">Select Date*</label>
                            <include-date-input />
                        </div>
                        <div>
                            <label for="time" class="text-base text-neutral-300">Select Time*</label>
                            <input type="time" name="time" id="time" class="line-input-1" required />
                        </div>
                    </div>
                    <div>
                        <label for="message" class="text-base text-neutral-300">Your Massage*</label>
                        <textarea name="message" id="message" class="line-input-1 h-20 Your Massage"
                            required></textarea>
                    </div>
                    <div class="flex relative py-32px">
                        <input type="checkbox" id="privacy-1" name="privacy-1" value="true"
                            class="opacity-0 absolute sm:h-8 sm:w-8 h-5 w-5 cursor-pointer">
                        <div
                            class="bg-blue-B60 border border-neutral-700 rounded-sm sm:w-5 sm:h-5 w-3.5 h-3.5 flex shrink-0 justify-center items-center mr-3 focus-within:border-neutral-700">
                            <svg class="fill-current hidden w-2.5 h-2.5 text-neutral-700 pointer-events-none"
                                version="1.1" viewBox="0 0 17 12" xmlns="http://www.w3.org/2000/svg">
                                <g fill="none" fill-rule="evenodd">
                                    <g transform="translate(-9 -11)" fill="currentColor" fill-rule="nonzero">
                                        <path
                                            d="m25.576 11.414c0.56558 0.55188 0.56558 1.4439 0 1.9961l-9.404 9.176c-0.28213 0.27529-0.65247 0.41385-1.0228 0.41385-0.37034 0-0.74068-0.13855-1.0228-0.41385l-4.7019-4.588c-0.56584-0.55188-0.56584-1.4442 0-1.9961 0.56558-0.55214 1.4798-0.55214 2.0456 0l3.679 3.5899 8.3812-8.1779c0.56558-0.55214 1.4798-0.55214 2.0456 0z">
                                        </path>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <label for="privacy-1"
                            class="select-none sm:mt-0 -mt-1 flex gap-2 cursor-pointer items-center text-base text-neutral-400">
                            I do agree the privacy policy.
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary inline-flex items-center gap-2">
                        <i class="ph ph-paper-plane-tilt"></i>
                        Book Now
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>