<footer class="gradient-1 overflow-y-hidden">
    <img class="w-full" src="./assets/images/icons/sectionVector1.svg" alt="shape" />
    <div class="relative pt-5">
        <div class="relative z-[2] container section-pt pb-11">
            <div class="flex-center flex-col text-center gap-mb-60">
                <h2 class="text-57 text-white mb-2  wow fadeInUp" data-wow-duration="0.8s">
                    Have a project in mind? <br class="md:block hidden"> Let's Talk
                </h2>
                <p class="text-18 text-soft-secondary-3 gap-mb-32  wow fadeInUp" data-wow-duration="0.8s">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod <br class="md:block hidden">
                    tempor
                    incididunt ut labore et dolore
                    magna aliqua.
                </p>
                <a href="tel:+621114490"
                    class="btn btn-outline-primary text-white hover:text-secondary inline-flex items-center gap-2 group  wow fadeInUp"
                    data-wow-duration="0.8s">
                    +62 111-444-90
                    <span
                        class="flex-center bg-primary group-hover:bg-secondary rounded-full size-8 text-secondary group-hover:text-white icon-20">
                        <i class="ph ph-phone-call"></i>
                    </span>
                </a>
            </div>
            <div class="flex-centerY md:flex-row flex-col justify-between my-gap-24 gap-mb-32  wow fadeInUp"
                data-wow-duration="0.8s">
                <a href="./index.html" class="text-32 text-white font-bold">
                    ElevateU
                </a>
                <ul class="flex-centerY flex-wrap my-gap-24 text-18 font-medium text-neutral-50">
                    <li>
                        <a href="./index.html" class="hover:text-primary transition-1">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="./about.html" class="hover:text-primary transition-1">
                            About
                        </a>
                    </li>
                    <li>
                        <a href="./courses.html" class="hover:text-primary transition-1">
                            Courses
                        </a>
                    </li>
                    <li>
                        <a href="./team.html" class="hover:text-primary transition-1">
                            Team
                        </a>
                    </li>
                    <li>
                        <a href="./blogs.html" class="hover:text-primary transition-1">
                            Blogs
                        </a>
                    </li>
                    <li>
                        <a href="./Contact.html" class="hover:text-primary transition-1">
                            Contact
                        </a>
                    </li>
                </ul>
                <div
                    class="flex-centerY gap-2 *:text-white text-base *:size-8 *:flex-center *:border *:border-white *:rounded-full">
                    <a href="#" class="hover:bg-primary hover:text-secondary hover:border-primary transition-1">
                        <i class="ph ph-facebook-logo"></i>
                    </a>
                    <a href="#" class="hover:bg-primary hover:text-secondary hover:border-primary transition-1">
                        <i class="ph ph-twitter-logo"></i>
                    </a>
                    <a href="#" class="hover:bg-primary hover:text-secondary hover:border-primary transition-1">
                        <i class="ph ph-instagram-logo"></i>
                    </a>
                </div>
            </div>
            <p class="text-18 text-neutral-50 text-center  wow fadeInUp" data-wow-duration="0.8s">
                ©<span class="currentYear inline"></span> All Right Reserved Privacy Policy I Terms & Conditions
            </p>
        </div>
        <div class="absolute top-0 bg-soft-secondary-1 opacity-10 w-full h-[1920px] rounded-full"></div>
    </div>
</footer>