<header id="header" class="fixed w-full z-50">
    <div class="mx-auto relative bg-transparent">
        <div id="header-nav"
            class="w-full xxl:px-[60px] xl:px-10 lg:px-8 md:px-7 sm:px-6 px-4 border-b border-soft-n-50 relative">
            <div class="flex items-center justify-between gap-x-2 mx-auto md:py-5 sm:py-5 py-3.5">
                <nav class="w-full flex justify-between items-center text-semibold">
                    <div class="w-full flex-centerY justify-between xxl:gap-25 gap-12">
                        <a href="index.html" class="text-32 font-bold text-white">
                            ElevateU
                        </a>
                        <div class="flex items-center justify-between my-gap-24">
                            <ul
                                class="hidden lg:flex justify-center items-center gap-3 lg:gap-5 text-lg font-semibold text-white">
                                <li class="hover:text-primary transition-1">
                                    <a href="index.html">Home</a>
                                </li>
                                <li class="hover:text-primary transition-1">
                                    <a href="about.html">About</a>
                                </li>
                                <li
                                    class="hover:cursor-pointer hover:text-primary flex justify-center items-center group relative py-20px transition-1">
                                    <span class="submenu-btn">Courses</span>
                                    <i
                                        class="ph ph-caret-down ml-2 submenu-btn text-xl group-hover:text-primary group-hover:-rotate-180 transition-1"></i>
                                    <ul
                                        class="shadow-6 w-44 z-[300] bg-soft-n-950 opacity-0 invisible group-hover:visible group-hover:opacity-100 absolute top-7 left-0 transition-1 group-hover:translate-y-8 translate-y-14  p-4 flex flex-col justify-start items-start gap-4 rounded-lg group">
                                        <li
                                            class="submenu-link text-white hover:text-primary w-full hover:translate-x-1 transition-1">
                                            <a href="courses.html">Courses</a>
                                        </li>
                                        <li
                                            class="submenu-link text-white hover:text-primary w-full hover:translate-x-1 transition-1">
                                            <a href="course-details.html">Course Details</a>
                                        </li>
                                    </ul>
                                </li>
                                <li
                                    class="hover:cursor-pointer hover:text-primary flex justify-center items-center group relative py-20px transition-1">
                                    <span class="submenu-btn">Pages</span>
                                    <i
                                        class="ph ph-caret-down submenu-btn ml-2 text-xl group-hover:text-primary group-hover:-rotate-180 transition-1"></i>
                                    <ul
                                        class="shadow-6 w-44 z-[300] bg-soft-n-950 opacity-0 invisible group-hover:visible group-hover:opacity-100 absolute top-7 left-0 transition-1 group-hover:translate-y-8 translate-y-14  p-4 flex flex-col justify-start items-start gap-4 rounded-lg group">
                                        <li
                                            class="submenu-link text-white hover:text-primary w-full hover:translate-x-1 transition-1">
                                            <a href="blogs.html">Blogs</a>
                                        </li>
                                        <li
                                            class="submenu-link text-white hover:text-primary w-full hover:translate-x-1 transition-1">
                                            <a href="blog-details.html">Blog Details</a>
                                        </li>
                                        <li
                                            class="submenu-link text-white hover:text-primary w-full hover:translate-x-1 transition-1">
                                            <a href="instructors.html">Instructors</a>
                                        </li>
                                        <li
                                            class="submenu-link text-white hover:text-primary w-full hover:translate-x-1 transition-1">
                                            <a href="case-study.html">Case Study</a>
                                        </li>
                                        <li
                                            class="submenu-link text-white hover:text-primary w-full hover:translate-x-1 transition-1">
                                            <a href="checkout.html">Checkout</a>
                                        </li>
                                        <li
                                            class="submenu-link text-white hover:text-primary w-full hover:translate-x-1 transition-1">
                                            <a href="faq.html">FAQ</a>
                                        </li>
                                        <li
                                            class="submenu-link text-white hover:text-primary w-full hover:translate-x-1 transition-1">
                                            <a href="sign-in.html">Sign In</a>
                                        </li>
                                        <li
                                            class="submenu-link text-white hover:text-primary w-full hover:translate-x-1 transition-1">
                                            <a href="sign-up.html">Sign Up</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="hover:text-primary transition-1">
                                    <a href="contact-us.html">Contact Us</a>
                                </li>
                            </ul>
                            <div class="flex items-center flex-wrap gap-2 text-neutral-700 icon-24">
                                <a href="./sign-in.html"
                                    class="sm:block hidden btn text-18 font-bold text-white hover:text-primary transition-1">
                                    Log In
                                </a>
                                <div class="flex-centerY gap-3">
                                    <a href="sign-up.html" class="sm:block hidden btn btn-outline-primary">
                                        Register
                                    </a>
                                    <button
                                        class="nav-toggole text-3xl cursor-pointer text-white hover:text-primary transition-1 lg:hidden block">
                                        <i class="ph ph-list"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <nav class="w-full flex justify-between items-center">
                <div class="relative">
                    <div
                        class="small-nav fixed top-0 left-0 h-screen w-full shadow-lg z-[999] transform transition-transform ease-in-out translate-x-full duration-500 flex lg:hidden justify-start items-start gap-8 flex-col">
                        <div
                            class="absolute overflow-y-scroll scrollbar scrollbar-sm top-0 right-0 bottom-0 z-[2000] sm:w-[400px] w-full  bg-secondary p-40px">
                            <div class="relative flex justify-between items-center gap-mb-48">
                                <a href="index.html" class="text-48 font-dm_sans font-bold text-primary">
                                    Balance.
                                </a>
                                <button
                                    class="nav-close text-2xl cursor-pointer hover:duration-200 text-white hover:text-primary">
                                    <i class="ph ph-x"></i>
                                </button>
                            </div>

                            <ul
                                class="flex flex-col justify-center items-start my-gap-20 text-white text-24 *:bg-soft-n-980 *:w-full *:p-5 *:rounded-xl">
                                <li class="hover:text-primary transition-1">
                                    <a href="index.html">Home</a>
                                </li>
                                <li class="hover:text-primary transition-1">
                                    <a href="about.html">About</a>
                                </li>
                                <li class="sub-menu cursor-pointer group relative">
                                    <div class="flex justify-between items-start hover:text-primary transition-1">
                                        <span class="text-24">Courses</span>
                                        <i
                                            class="ph ph-caret-down collapse-icon ml-2 text-2xl group-hover:text-primary transition-1"></i>
                                    </div>
                                    <div>
                                        <ul class="py-4 px-5 bg-secondary rounded-xl gap-y-3 mt-2.5 hidden">
                                            <li>
                                                <a aria-label="item" class="text-20 hover:text-primary transition-1"
                                                    href="courses.html">
                                                    Courses</a>
                                            </li>
                                            <li>
                                                <a aria-label="item" class="text-20 hover:text-primary transition-1"
                                                    href="course-details.html">
                                                    Course Details</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="hover:text-primary transition-1">
                                    <a href="contact-us.html">Contact Us</a>
                                </li>
                                <li class="sub-menu cursor-pointer group relative">
                                    <div class="flex justify-between items-start hover:text-primary transition-1">
                                        <span class="text-24">Pages</span>
                                        <i
                                            class="ph ph-caret-down collapse-icon ml-2 text-2xl group-hover:text-primary transition-1"></i>
                                    </div>
                                    <div>
                                        <ul class="py-4 px-5 bg-secondary rounded-xl gap-y-3 mt-2.5 hidden">
                                            <li>
                                                <a aria-label="item" class="text-20 hover:text-primary transition-1"
                                                    href="blogs.html">
                                                    Blogs</a>
                                            </li>
                                            <li>
                                                <a aria-label="item" class="text-20 hover:text-primary transition-1"
                                                    href="blog-details.html">
                                                    Blog Details</a>
                                            </li>
                                            <li>
                                                <a aria-label="item" class="text-20 hover:text-primary transition-1"
                                                    href="instructors.html">
                                                    Instructors</a>
                                            </li>
                                            <li>
                                                <a aria-label="item" class="text-20 hover:text-primary transition-1"
                                                    href="case-study.html">
                                                    Case Study</a>
                                            </li>
                                            <li>
                                                <a aria-label="item" class="text-20 hover:text-primary transition-1"
                                                    href="faq.html">
                                                    Faq</a>
                                            </li>
                                            <li>
                                                <a aria-label="item" class="text-20 hover:text-primary transition-1"
                                                    href="checkout.html">
                                                    Checkout</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="hover:text-primary transition-1">
                                    <a href="sign-in.html">Sign In</a>
                                </li>
                                <li class="hover:text-primary transition-1">
                                    <a href="sign-up.html">Sign Up</a>
                                </li>
                            </ul>
                        </div>
                        <div id="nav-overly" class="min-h-[200vh] overly-1"></div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>