<section class="section-py">
    <div class="container">
        <div class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 my-gap-24">
            <div
                class="md:col-span-2 sm:col-span-2 col-span-1 flex sm:items-start items-center flex-col sm:text-left text-center">
                <span class="inline-flex gap-2 items-center box-1 gap-mb-24  wow fadeInUp" data-wow-duration="0.8s">
                    😉
                    Get closer with our team
                </span>
                <h2 class="text-57 text-secondary gap-mb-24  wow fadeInUp" data-wow-duration="0.8s">
                    Meet our awesome coach
                </h2>
                <p class="text-18 text-neutral-800  wow fadeInUp" data-wow-duration="0.8s">
                    Lorem ipsum dolor sit amet, mea ei viderer probatus consequuntur, sonet vocibus lobortis has ad.
                    Lorem
                    ipsum dolor sit amet
                </p>
            </div>
            <div class="group wow fadeInUp" data-wow-duration="1s">
                <div class="overflow-hidden border-4 group-hover:border-secondary border-white rounded-20 transition-1">
                    <img class="w-full h-auto group-hover:scale-110 transition-1" src="./assets/images/photos/team1.png"
                        alt="img" />
                </div>
                <div class="relative py-32px px-24px">
                    <a href="./case-details.html"
                        class="absolute right-8 -top-6 bg-secondary group-hover:bg-primary text-base text-white group-hover:text-secondary border-4 border-white group-hover:border-secondary transition-1 size-10 rounded-full flex-center">
                        <i class="ph ph-arrow-up-right"></i>
                    </a>
                    <h5 class="text-20 text-secondary font-bold mb-1">Sway Harmsworth</h5>
                    <p class="text-base text-neutral-700 mb-2">Life Coach and Founder</p>
                    <div
                        class="flex-centerY gap-2 *:text-secondary text-base *:size-6 *:flex-center *:border *:border-secondary *:rounded-full">
                        <a href="#" class="hover:bg-primary transition-1">
                            <i class="ph-fill ph-facebook-logo"></i>
                        </a>
                        <a href="#" class="hover:bg-primary transition-1">
                            <i class="ph-fill ph-twitter-logo"></i>
                        </a>
                        <a href="#" class="hover:bg-primary transition-1">
                            <i class="ph-fill ph-instagram-logo"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="group wow fadeInUp" data-wow-duration="1s">
                <div class="overflow-hidden border-4 group-hover:border-secondary border-white rounded-20 transition-1">
                    <img class="w-full h-auto group-hover:scale-110 transition-1" src="./assets/images/photos/team2.png"
                        alt="img" />
                </div>
                <div class="relative py-32px px-24px">
                    <a href="./case-details.html"
                        class="absolute right-8 -top-6 bg-secondary group-hover:bg-primary text-base text-white group-hover:text-secondary border-4 border-white group-hover:border-secondary transition-1 size-10 rounded-full flex-center">
                        <i class="ph ph-arrow-up-right"></i>
                    </a>
                    <h5 class="text-20 text-secondary font-bold mb-1">Sway Harmsworth</h5>
                    <p class="text-base text-neutral-700 mb-2">Life Coach and Founder</p>
                    <div
                        class="flex-centerY gap-2 *:text-secondary text-base *:size-6 *:flex-center *:border *:border-secondary *:rounded-full">
                        <a href="#" class="hover:bg-primary transition-1">
                            <i class="ph-fill ph-facebook-logo"></i>
                        </a>
                        <a href="#" class="hover:bg-primary transition-1">
                            <i class="ph-fill ph-twitter-logo"></i>
                        </a>
                        <a href="#" class="hover:bg-primary transition-1">
                            <i class="ph-fill ph-instagram-logo"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="group wow fadeInUp" data-wow-duration="1s">
                <div class="overflow-hidden border-4 group-hover:border-secondary border-white rounded-20 transition-1">
                    <img class="w-full h-auto group-hover:scale-110 transition-1" src="./assets/images/photos/team3.png"
                        alt="img" />
                </div>
                <div class="relative py-32px px-24px">
                    <a href="./case-details.html"
                        class="absolute right-8 -top-6 bg-secondary group-hover:bg-primary text-base text-white group-hover:text-secondary border-4 border-white group-hover:border-secondary transition-1 size-10 rounded-full flex-center">
                        <i class="ph ph-arrow-up-right"></i>
                    </a>
                    <h5 class="text-20 text-secondary font-bold mb-1">Sway Harmsworth</h5>
                    <p class="text-base text-neutral-700 mb-2">Life Coach and Founder</p>
                    <div
                        class="flex-centerY gap-2 *:text-secondary text-base *:size-6 *:flex-center *:border *:border-secondary *:rounded-full">
                        <a href="#" class="hover:bg-primary transition-1">
                            <i class="ph-fill ph-facebook-logo"></i>
                        </a>
                        <a href="#" class="hover:bg-primary transition-1">
                            <i class="ph-fill ph-twitter-logo"></i>
                        </a>
                        <a href="#" class="hover:bg-primary transition-1">
                            <i class="ph-fill ph-instagram-logo"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="group wow fadeInUp" data-wow-duration="1s">
                <div class="overflow-hidden border-4 group-hover:border-secondary border-white rounded-20 transition-1">
                    <img class="w-full h-auto group-hover:scale-110 transition-1" src="./assets/images/photos/team4.png"
                        alt="img" />
                </div>
                <div class="relative py-32px px-24px">
                    <a href="./case-details.html"
                        class="absolute right-8 -top-6 bg-secondary group-hover:bg-primary text-base text-white group-hover:text-secondary border-4 border-white group-hover:border-secondary transition-1 size-10 rounded-full flex-center">
                        <i class="ph ph-arrow-up-right"></i>
                    </a>
                    <h5 class="text-20 text-secondary font-bold mb-1">Sway Harmsworth</h5>
                    <p class="text-base text-neutral-700 mb-2">Life Coach and Founder</p>
                    <div
                        class="flex-centerY gap-2 *:text-secondary text-base *:size-6 *:flex-center *:border *:border-secondary *:rounded-full">
                        <a href="#" class="hover:bg-primary transition-1">
                            <i class="ph-fill ph-facebook-logo"></i>
                        </a>
                        <a href="#" class="hover:bg-primary transition-1">
                            <i class="ph-fill ph-twitter-logo"></i>
                        </a>
                        <a href="#" class="hover:bg-primary transition-1">
                            <i class="ph-fill ph-instagram-logo"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="group wow fadeInUp" data-wow-duration="1s">
                <div class="overflow-hidden border-4 group-hover:border-secondary border-white rounded-20 transition-1">
                    <img class="w-full h-auto group-hover:scale-110 transition-1" src="./assets/images/photos/team5.png"
                        alt="img" />
                </div>
                <div class="relative py-32px px-24px">
                    <a href="./case-details.html"
                        class="absolute right-8 -top-6 bg-secondary group-hover:bg-primary text-base text-white group-hover:text-secondary border-4 border-white group-hover:border-secondary transition-1 size-10 rounded-full flex-center">
                        <i class="ph ph-arrow-up-right"></i>
                    </a>
                    <h5 class="text-20 text-secondary font-bold mb-1">Sway Harmsworth</h5>
                    <p class="text-base text-neutral-700 mb-2">Life Coach and Founder</p>
                    <div
                        class="flex-centerY gap-2 *:text-secondary text-base *:size-6 *:flex-center *:border *:border-secondary *:rounded-full">
                        <a href="#" class="hover:bg-primary transition-1">
                            <i class="ph-fill ph-facebook-logo"></i>
                        </a>
                        <a href="#" class="hover:bg-primary transition-1">
                            <i class="ph-fill ph-twitter-logo"></i>
                        </a>
                        <a href="#" class="hover:bg-primary transition-1">
                            <i class="ph-fill ph-instagram-logo"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="group wow fadeInUp" data-wow-duration="1s">
                <div class="overflow-hidden border-4 group-hover:border-secondary border-white rounded-20 transition-1">
                    <img class="w-full h-auto group-hover:scale-110 transition-1" src="./assets/images/photos/team6.png"
                        alt="img" />
                </div>
                <div class="relative py-32px px-24px">
                    <a href="./case-details.html"
                        class="absolute right-8 -top-6 bg-secondary group-hover:bg-primary text-base text-white group-hover:text-secondary border-4 border-white group-hover:border-secondary transition-1 size-10 rounded-full flex-center">
                        <i class="ph ph-arrow-up-right"></i>
                    </a>
                    <h5 class="text-20 text-secondary font-bold mb-1">Sway Harmsworth</h5>
                    <p class="text-base text-neutral-700 mb-2">Life Coach and Founder</p>
                    <div
                        class="flex-centerY gap-2 *:text-secondary text-base *:size-6 *:flex-center *:border *:border-secondary *:rounded-full">
                        <a href="#" class="hover:bg-primary transition-1">
                            <i class="ph-fill ph-facebook-logo"></i>
                        </a>
                        <a href="#" class="hover:bg-primary transition-1">
                            <i class="ph-fill ph-twitter-logo"></i>
                        </a>
                        <a href="#" class="hover:bg-primary transition-1">
                            <i class="ph-fill ph-instagram-logo"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>