<section class="section-py">
    <div class="container">
        <div class="text-center">
            <h6 class="text-base font-bold text-primary gap-mb-16 wow fadeInUp" data-wow-duration="1.5s">
                OUR SERVICES
            </h6>
            <h2 class="text-64 text-neutral-700 gap-mb-60 wow fadeInUp" data-wow-duration="1.5s">
                Provide Wide Range of <br /> <span class="text-primary font-dm_sans">Health Services</span>
            </h2>
        </div>
        <div class="grid lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 my-gap-24">
            <a href="./service-details.html"
                class="p-32px border-neutral-2 border-primary bg-lg-95 hover:bg-primary transition-1 group block  wow fadeInUp"
                data-wow-duration="0.8s">
                <span class="flex-center lg:size-20 md:size-18 sm:size-15 size-10 bg-white rounded-full gap-mb-32">
                    <img src="./assets/images/icons/serviceIcon1.svg" alt="icon" />
                </span>
                <h5 class="text-24 font-bold text-neutral-700 group-hover:text-neutral-20 gap-mb-16 transition-1">
                    Balance
                    Body &
                    Mind
                </h5>
                <p class="text-18 text-neutral-400 group-hover:text-neutral-20 gap-mb-24 transition-1">
                    Our nutrition team love the benefits of exercise and healthy food.
                </p>
                <div class="flex-centerY">
                    <div
                        class="p-[5px] rounded-full border border-dashed group-hover:border-white border-primary inline-block transition-1">
                        <div
                            class="lg:size-15 md:size-12 size-10 flex-center rounded-full group-hover:bg-white bg-primary transition-1">
                            <h6 class="text-24 text-white group-hover:text-primary transition-1">01</h6>
                        </div>
                    </div>
                    <svg class="text-primary group-hover:text-white transition-1" xmlns="http://www.w3.org/2000/svg"
                        width="41" height="16" viewBox="0 0 41 16" fill="none">
                        <path
                            d="M40.7071 8.70711C41.0976 8.31658 41.0976 7.68342 40.7071 7.29289L34.3431 0.928932C33.9526 0.538408 33.3195 0.538408 32.9289 0.928932C32.5384 1.31946 32.5384 1.95262 32.9289 2.34315L38.5858 8L32.9289 13.6569C32.5384 14.0474 32.5384 14.6805 32.9289 15.0711C33.3195 15.4616 33.9526 15.4616 34.3431 15.0711L40.7071 8.70711ZM0 9H40V7H0V9Z"
                            fill="currentColor" />
                    </svg>
                </div>
            </a>
            <a href="./service-details.html"
                class="p-32px border-neutral-2 border-primary bg-lg-95 hover:bg-primary transition-1 group block  wow fadeInUp"
                data-wow-duration="0.8s">
                <span class="flex-center lg:size-20 md:size-18 sm:size-15 size-10 bg-white rounded-full gap-mb-32">
                    <img src="./assets/images/icons/serviceIcon1.svg" alt="icon" />
                </span>
                <h5 class="text-24 font-bold text-neutral-700 group-hover:text-neutral-20 gap-mb-16 transition-1">
                    Personalized
                    Nutrition
                </h5>
                <p class="text-18 text-neutral-400 group-hover:text-neutral-20 gap-mb-24 transition-1">
                    Our nutrition team love the benefits of exercise and healthy food.
                </p>
                <div class="flex-centerY">
                    <div
                        class="p-[5px] rounded-full border border-dashed group-hover:border-white border-primary inline-block transition-1">
                        <div
                            class="lg:size-15 md:size-12 size-10 flex-center rounded-full group-hover:bg-white bg-primary transition-1">
                            <h6 class="text-24 text-white group-hover:text-primary transition-1">02</h6>
                        </div>
                    </div>
                    <svg class="text-primary group-hover:text-white transition-1" xmlns="http://www.w3.org/2000/svg"
                        width="41" height="16" viewBox="0 0 41 16" fill="none">
                        <path
                            d="M40.7071 8.70711C41.0976 8.31658 41.0976 7.68342 40.7071 7.29289L34.3431 0.928932C33.9526 0.538408 33.3195 0.538408 32.9289 0.928932C32.5384 1.31946 32.5384 1.95262 32.9289 2.34315L38.5858 8L32.9289 13.6569C32.5384 14.0474 32.5384 14.6805 32.9289 15.0711C33.3195 15.4616 33.9526 15.4616 34.3431 15.0711L40.7071 8.70711ZM0 9H40V7H0V9Z"
                            fill="currentColor" />
                    </svg>
                </div>
            </a>
            <a href="./service-details.html"
                class="p-32px border-neutral-2 border-primary bg-lg-95 hover:bg-primary transition-1 group block  wow fadeInUp"
                data-wow-duration="0.8s">
                <span class="flex-center lg:size-20 md:size-18 sm:size-15 size-10 bg-white rounded-full gap-mb-32">
                    <img src="./assets/images/icons/serviceIcon3.svg" alt="icon" />
                </span>
                <h5 class="text-24 font-bold text-neutral-700 group-hover:text-neutral-20 gap-mb-16 transition-1">
                    Fitness
                    Performance
                </h5>
                <p class="text-18 text-neutral-400 group-hover:text-neutral-20 gap-mb-24 transition-1">
                    Our nutrition team love the benefits of exercise and healthy food.
                </p>
                <div class="flex-centerY">
                    <div
                        class="p-[5px] rounded-full border border-dashed group-hover:border-white border-primary inline-block transition-1">
                        <div
                            class="lg:size-15 md:size-12 size-10 flex-center rounded-full group-hover:bg-white bg-primary transition-1">
                            <h6 class="text-24 text-white group-hover:text-primary transition-1">03</h6>
                        </div>
                    </div>
                    <svg class="text-primary group-hover:text-white transition-1" xmlns="http://www.w3.org/2000/svg"
                        width="41" height="16" viewBox="0 0 41 16" fill="none">
                        <path
                            d="M40.7071 8.70711C41.0976 8.31658 41.0976 7.68342 40.7071 7.29289L34.3431 0.928932C33.9526 0.538408 33.3195 0.538408 32.9289 0.928932C32.5384 1.31946 32.5384 1.95262 32.9289 2.34315L38.5858 8L32.9289 13.6569C32.5384 14.0474 32.5384 14.6805 32.9289 15.0711C33.3195 15.4616 33.9526 15.4616 34.3431 15.0711L40.7071 8.70711ZM0 9H40V7H0V9Z"
                            fill="currentColor" />
                    </svg>
                </div>
            </a>
            <a href="./service-details.html"
                class="p-32px border-neutral-2 border-primary bg-lg-95 hover:bg-primary transition-1 group block  wow fadeInUp"
                data-wow-duration="0.8s">
                <span class="flex-center lg:size-20 md:size-18 sm:size-15 size-10 bg-white rounded-full gap-mb-32">
                    <img src="./assets/images/icons/serviceIcon4.svg" alt="icon" />
                </span>
                <h5 class="text-24 font-bold text-neutral-700 group-hover:text-neutral-20 gap-mb-16 transition-1">
                    Healthy
                    Daily Life
                </h5>
                <p class="text-18 text-neutral-400 group-hover:text-neutral-20 gap-mb-24 transition-1">
                    Our nutrition team love the benefits of exercise and healthy food.
                </p>
                <div class="flex-centerY">
                    <div
                        class="p-[5px] rounded-full border border-dashed group-hover:border-white border-primary inline-block transition-1">
                        <div
                            class="lg:size-15 md:size-12 size-10 flex-center rounded-full group-hover:bg-white bg-primary transition-1">
                            <h6 class="text-24 text-white group-hover:text-primary transition-1">04</h6>
                        </div>
                    </div>
                    <svg class="text-primary group-hover:text-white transition-1" xmlns="http://www.w3.org/2000/svg"
                        width="41" height="16" viewBox="0 0 41 16" fill="none">
                        <path
                            d="M40.7071 8.70711C41.0976 8.31658 41.0976 7.68342 40.7071 7.29289L34.3431 0.928932C33.9526 0.538408 33.3195 0.538408 32.9289 0.928932C32.5384 1.31946 32.5384 1.95262 32.9289 2.34315L38.5858 8L32.9289 13.6569C32.5384 14.0474 32.5384 14.6805 32.9289 15.0711C33.3195 15.4616 33.9526 15.4616 34.3431 15.0711L40.7071 8.70711ZM0 9H40V7H0V9Z"
                            fill="currentColor" />
                    </svg>
                </div>
            </a>
            <a href="./service-details.html"
                class="p-32px border-neutral-2 border-primary bg-lg-95 hover:bg-primary transition-1 group block  wow fadeInUp"
                data-wow-duration="0.8s">
                <span class="flex-center lg:size-20 md:size-18 sm:size-15 size-10 bg-white rounded-full gap-mb-32">
                    <img src="./assets/images/icons/serviceIcon5.svg" alt="icon" />
                </span>
                <h5 class="text-24 font-bold text-neutral-700 group-hover:text-neutral-20 gap-mb-16 transition-1">
                    Support &
                    Motivation
                </h5>
                <p class="text-18 text-neutral-400 group-hover:text-neutral-20 gap-mb-24 transition-1">
                    Our nutrition team love the benefits of exercise and healthy food.
                </p>
                <div class="flex-centerY">
                    <div
                        class="p-[5px] rounded-full border border-dashed group-hover:border-white border-primary inline-block transition-1">
                        <div
                            class="lg:size-15 md:size-12 size-10 flex-center rounded-full group-hover:bg-white bg-primary transition-1">
                            <h6 class="text-24 text-white group-hover:text-primary transition-1">05</h6>
                        </div>
                    </div>
                    <svg class="text-primary group-hover:text-white transition-1" xmlns="http://www.w3.org/2000/svg"
                        width="41" height="16" viewBox="0 0 41 16" fill="none">
                        <path
                            d="M40.7071 8.70711C41.0976 8.31658 41.0976 7.68342 40.7071 7.29289L34.3431 0.928932C33.9526 0.538408 33.3195 0.538408 32.9289 0.928932C32.5384 1.31946 32.5384 1.95262 32.9289 2.34315L38.5858 8L32.9289 13.6569C32.5384 14.0474 32.5384 14.6805 32.9289 15.0711C33.3195 15.4616 33.9526 15.4616 34.3431 15.0711L40.7071 8.70711ZM0 9H40V7H0V9Z"
                            fill="currentColor" />
                    </svg>
                </div>
            </a>
            <a href="./service-details.html"
                class="p-32px border-neutral-2 border-primary bg-lg-95 hover:bg-primary transition-1 group block  wow fadeInUp"
                data-wow-duration="0.8s">
                <span class="flex-center lg:size-20 md:size-18 sm:size-15 size-10 bg-white rounded-full gap-mb-32">
                    <img src="./assets/images/icons/serviceIcon6.svg" alt="icon" />
                </span>
                <h5 class="text-24 font-bold text-neutral-700 group-hover:text-neutral-20 gap-mb-16 transition-1">Weight
                    Loss
                    Programs
                </h5>
                <p class="text-18 text-neutral-400 group-hover:text-neutral-20 gap-mb-24 transition-1">
                    Our nutrition team love the benefits of exercise and healthy food.
                </p>
                <div class="flex-centerY">
                    <div
                        class="p-[5px] rounded-full border border-dashed group-hover:border-white border-primary inline-block transition-1">
                        <div
                            class="lg:size-15 md:size-12 size-10 flex-center rounded-full group-hover:bg-white bg-primary transition-1">
                            <h6 class="text-24 text-white group-hover:text-primary transition-1">06</h6>
                        </div>
                    </div>
                    <svg class="text-primary group-hover:text-white transition-1" xmlns="http://www.w3.org/2000/svg"
                        width="41" height="16" viewBox="0 0 41 16" fill="none">
                        <path
                            d="M40.7071 8.70711C41.0976 8.31658 41.0976 7.68342 40.7071 7.29289L34.3431 0.928932C33.9526 0.538408 33.3195 0.538408 32.9289 0.928932C32.5384 1.31946 32.5384 1.95262 32.9289 2.34315L38.5858 8L32.9289 13.6569C32.5384 14.0474 32.5384 14.6805 32.9289 15.0711C33.3195 15.4616 33.9526 15.4616 34.3431 15.0711L40.7071 8.70711ZM0 9H40V7H0V9Z"
                            fill="currentColor" />
                    </svg>
                </div>
            </a>
        </div>
    </div>
</section>