<!-- popup modal video start -->
<div id="modal" class="fixed inset-0 items-center justify-center z-50 hidden">
    <!-- Modal Backdrop -->
    <div id="modal-backdrop" class="overly-1"></div>
    <!-- Modal Content -->
    <div
        class="relative z-[999] bg-white rounded-lg shadow-lg w-full lg:max-w-screen-md max-w-screen-sm h-auto sm:mx-6 mx-5">
        <!-- Modal Body -->
        <div class="relative">
            <!-- Close Button -->
            <button id="modal-close-btn"
                class="absolute -top-5 -right-5 text-white hover:text-secondary sm:size-9 size-7 flex-center rounded-full bg-secondary hover:bg-primary transition-1">
                <i class="ph ph-x icon-24"></i>
            </button>
            <iframe class="modal-body w-full lg:h-[420px] sm:h-[320px] xsm:h-[260px] h-[220px] border-none"
                src="https://www.youtube.com/embed/dVYl5ImNjow?si=RFNnIna5CiRMT-K5" title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
</div>
<!-- popup modal video end -->