<section class="gradient-1">
    <img class="w-full h-auto" src="./assets/images/icons/sectionVector1.svg" alt="vector" />
    <div class="section-py">
        <div class="container">
            <div class="grid lg:grid-cols-12 items-center lg:my-gap-24 sm:gap-y-15 gap-y-10">
                <div class="lg:col-start-1 lg:col-end-6 h-full">
                    <div class="flex flex-col justify-between gap-8 h-full">
                        <div class="wow fadeInUp" data-wow-duration="1s">
                            <h2 class="text-57 font-bold text-white gap-mb-16">
                                Our simple 4 step process
                            </h2>
                            <p class="text-18 text-neutral-25">
                                Sed ut perspiciatis unde omnis iste natus error sit amet voluptatem accusantium
                                doloremque
                                laudantium
                                elit.
                            </p>
                        </div>
                        <div class="px-40-py-60px bg-white rounded-20 text-center shadow-1  wow bounceInUp"
                            data-wow-duration="1s">
                            <h3 class="text-53 text-secondary gap-mb-16">Ready to start?</h3>
                            <p class="text-18 text-neutral-800 gap-mb-40">
                                The plans you refer to will soon be back in our hands. Alderaan? I'm not going to
                                Alderaan. I've got
                                to go home.
                            </p>
                            <a href="tel:+6211144490" class="btn btn-primary block mb-2">
                                Let’s Talk
                            </a>
                            <p class="text-base text-neutral-800">
                                All queries are replied within 24hrs.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="lg:col-start-7 lg:col-end-13">
                    <div class="grid sm:grid-cols-2 grid-cols-1 sm:my-gap-24 gap-5">
                        <div class="relative wow bounceInUp" data-wow-duration="0.8s">
                            <h1
                                class="xl:absolute xl:-left-15 sm:-left-12 left-0 xl:-top-20 sm:-top-12 text-120 text-primary text-opacity-10">
                                01
                            </h1>
                            <h4 class="text-24 text-white font-bold gap-mb-16">Choose Your Course</h4>
                            <p class="text-18 text-neutral-200 gap-mb-24">
                                Sed ut perspiciatis unde omnis iste natus error sit amet voluptatem accusantium
                            </p>
                            <span class="w-28 h-1px bg-primary"></span>
                        </div>
                        <div class="xl:block hidden"></div>
                        <div class="xl:block hidden"></div>
                        <div class="relative wow bounceInUp" data-wow-duration="0.8s">
                            <h1
                                class="xl:absolute xl:-left-15 sm:-left-12 left-0 xl:-top-20 sm:-top-12 text-120 text-primary text-opacity-10">
                                02
                            </h1>
                            <h4 class="text-24 text-white font-bold gap-mb-16">Make Appointment</h4>
                            <p class="text-18 text-neutral-200 gap-mb-24">
                                Sed ut perspiciatis unde omnis iste natus error sit amet voluptatem accusantium
                            </p>
                            <span class="w-28 h-1px bg-primary"></span>
                        </div>
                        <div class="xl:block hidden"></div>
                        <div class="xl:block hidden"></div>
                        <div class="relative wow bounceInUp" data-wow-duration="0.8s">
                            <h1
                                class="xl:absolute xl:-left-15 sm:-left-12 left-0 xl:-top-20 sm:-top-12 text-120 text-primary text-opacity-10">
                                03
                            </h1>
                            <h4 class="text-24 text-white font-bold gap-mb-16">Completed Payment</h4>
                            <p class="text-18 text-neutral-200 gap-mb-24">
                                Sed ut perspiciatis unde omnis iste natus error sit amet voluptatem accusantium
                            </p>
                            <span class="w-28 h-1px bg-primary"></span>
                        </div>
                        <div class="xl:block hidden"></div>
                        <div class="xl:block hidden"></div>
                        <div class="relative wow bounceInUp" data-wow-duration="0.8s">
                            <h1
                                class="xl:absolute xl:-left-15 sm:-left-12 left-0 xl:-top-20 sm:-top-12 text-120 text-primary text-opacity-10">
                                04
                            </h1>
                            <h4 class="text-24 text-white font-bold gap-mb-16">Enjoy Your Services</h4>
                            <p class="text-18 text-neutral-200 gap-mb-24">
                                Sed ut perspiciatis unde omnis iste natus error sit amet voluptatem accusantium
                            </p>
                            <span class="w-28 h-1px bg-primary"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img class="w-full h-auto" src="./assets/images/icons/sectionVector2.svg" alt="vector" />
</section>