<div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 my-gap-24">
    <a href="./course-details.html"
        class="block p-3 rounded-20 border border-b-60 hover:border-primary hover:bg-lg-15 transition-1 group wow fadeInUp"
        data-wow-duration="0.8s">
        <div class="overflow-hidden rounded-lg">
            <img class="w-full h-auto max-h-[308px] object-cover group-hover:scale-110 transition-1"
                src="./assets/images/photos/course1.png" alt="course" />
        </div>
        <div class="relative p-24px">
            <div
                class="absolute md:right-5 right-2 xl:-top-10 md:-top-12 -top-14 size-20 rounded-full flex-center flex-col bg-primary font-semibold text-secondary">
                <h4 class="block relative text-24 font-bold">
                    $129
                </h4>
            </div>
            <span
                class="px-4 py-1.5 rounded-lg bg-neutral-25 text-18 text-secondary font-medium inline-block gap-mb-24">
                Resume
            </span>
            <h4 class="text-24 text-secondary gap-mb-24">
                Improve Your Interview
            </h4>
            <div class="flex-centerY flex-wrap *:flex-centerY justify-between gap-3 *:gap-2 py-3 border-b gap-mb-24">
                <div>
                    <i class="ph ph-book-bookmark icon-24"></i>
                    <span class="text-18 text-b-400">35 lessons</span>
                </div>
                <div>
                    <i class="ph ph-clock icon-24"></i>
                    <span class="text-18 text-b-400">8h 30m</span>
                </div>
            </div>
            <div class="flex-centerY flex-wrap *:flex-centerY justify-between gap-3 *:gap-2">
                <div>
                    <i class="ph ph-user-circle icon-24"></i>
                    <span class="text-18 text-b-400">Mamun Gheu</span>
                </div>
                <div>
                    <i class="ph-fill ph-star icon-24 text-warning"></i>
                    <span class="text-18 text-neutral-800">4.8 (2.3k)</span>
                </div>
            </div>
        </div>
    </a>
    <a href="./course-details.html"
        class="block p-3 rounded-20 border border-b-60 hover:border-primary hover:bg-lg-15 transition-1 group wow fadeInUp"
        data-wow-duration="0.8s">
        <div class="overflow-hidden rounded-lg">
            <img class="w-full h-auto max-h-[308px] object-cover group-hover:scale-110 transition-1"
                src="./assets/images/photos/course2.png" alt="course" />
        </div>
        <div class="relative p-24px">
            <div
                class="absolute md:right-5 right-2 xl:-top-10 md:-top-12 -top-14 size-20 rounded-full flex-center flex-col bg-primary font-semibold text-secondary">
                <h4 class="block relative text-24 font-bold">
                    $49
                </h4>
            </div>
            <span
                class="px-4 py-1.5 rounded-lg bg-neutral-25 text-18 text-secondary font-medium inline-block gap-mb-24">
                Resume
            </span>
            <h4 class="text-24 text-secondary gap-mb-24">
                Enhance Leadership Skills
            </h4>
            <div class="flex-centerY flex-wrap *:flex-centerY justify-between gap-3 *:gap-2 py-3 border-b gap-mb-24">
                <div>
                    <i class="ph ph-book-bookmark icon-24"></i>
                    <span class="text-18 text-b-400">35 lessons</span>
                </div>
                <div>
                    <i class="ph ph-clock icon-24"></i>
                    <span class="text-18 text-b-400">8h 30m</span>
                </div>
            </div>
            <div class="flex-centerY flex-wrap *:flex-centerY justify-between gap-3 *:gap-2">
                <div>
                    <i class="ph ph-user-circle icon-24"></i>
                    <span class="text-18 text-b-400">Mamun Gheu</span>
                </div>
                <div>
                    <i class="ph-fill ph-star icon-24 text-warning"></i>
                    <span class="text-18 text-neutral-800">4.8 (2.3k)</span>
                </div>
            </div>
        </div>
    </a>
    <a href="./course-details.html"
        class="block p-3 rounded-20 border border-b-60 hover:border-primary hover:bg-lg-15 transition-1 group wow fadeInUp"
        data-wow-duration="0.8s">
        <div class="overflow-hidden rounded-lg">
            <img class="w-full h-auto max-h-[308px] object-cover group-hover:scale-110 transition-1"
                src="./assets/images/photos/course3.png" alt="course" />
        </div>
        <div class="relative p-24px">
            <div
                class="absolute md:right-5 right-2 xl:-top-10 md:-top-12 -top-14 size-20 rounded-full flex-center flex-col bg-primary font-semibold text-secondary">
                <h4 class="block relative text-24 font-bold">
                    $69
                </h4>
            </div>
            <span
                class="px-4 py-1.5 rounded-lg bg-neutral-25 text-18 text-secondary font-medium inline-block gap-mb-24">
                Resume
            </span>
            <h4 class="text-24 text-secondary gap-mb-24">
                Perfect Your Resume
            </h4>
            <div class="flex-centerY flex-wrap *:flex-centerY justify-between gap-3 *:gap-2 py-3 border-b gap-mb-24">
                <div>
                    <i class="ph ph-book-bookmark icon-24"></i>
                    <span class="text-18 text-b-400">35 lessons</span>
                </div>
                <div>
                    <i class="ph ph-clock icon-24"></i>
                    <span class="text-18 text-b-400">8h 30m</span>
                </div>
            </div>
            <div class="flex-centerY flex-wrap *:flex-centerY justify-between gap-3 *:gap-2">
                <div>
                    <i class="ph ph-user-circle icon-24"></i>
                    <span class="text-18 text-b-400">Mamun Gheu</span>
                </div>
                <div>
                    <i class="ph-fill ph-star icon-24 text-warning"></i>
                    <span class="text-18 text-neutral-800">4.8 (2.3k)</span>
                </div>
            </div>
        </div>
    </a>
</div>