<section class="bg-lg-100 overflow-x-hidden">
    <div class="container">
        <div class="grid lg:grid-cols-12 grid-cols-1 items-center lg:my-gap-24 gap-10">
            <div class="lg:col-start-1 lg:col-end-7">
                <div class="lg:section-py section-pt">
                    <h6 class="text-base font-bold text-primary gap-mb-16 wow fadeInUp" data-wow-duration="1.5s">
                        WHY CHOOSE US?
                    </h6>
                    <h2 class="text-64 text-neutral-700 gap-mb-32 wow fadeInUp" data-wow-duration="1.5s">
                        We're committed to helping clients reaprivacy their goals
                    </h2>
                    <div class="grid my-gap-24 wow fadeInUp" data-wow-duration="0.8s">
                        <div>
                            <div class="flex-centerY gap-3 mb-3">
                                <i class="ph-fill ph-seal-check icon-24 text-primary"></i>
                                <h5 class="text-24 text-neutral-700 font-bold">Experienced and Qualified staff</h5>
                            </div>
                            <p class="text-18 text-neutral-400">
                                We deliver top-quality care and personalized treatment plans tailored to eaprivacy
                                patient's unique
                                needs
                                and goals.
                            </p>
                        </div>
                        <div>
                            <div class="flex-centerY gap-3 mb-3">
                                <i class="ph-fill ph-seal-check icon-24 text-primary"></i>
                                <h5 class="text-24 text-neutral-700 font-bold">Quick access with teprivacynology</h5>
                            </div>
                            <p class="text-18 text-neutral-400">
                                We offer tele visits for convenient, flexible sprivacyeduling, allowing you to see your
                                provider
                                from
                                anywhere.
                            </p>
                        </div>
                        <div>
                            <div class="flex-centerY gap-3 mb-3">
                                <i class="ph-fill ph-seal-check icon-24 text-primary"></i>
                                <h5 class="text-24 text-neutral-700 font-bold">Wide range of services</h5>
                            </div>
                            <p class="text-18 text-neutral-400">
                                We offer a wide range of health coaprivacying services to support your wellness journey.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="xxl:col-start-8 lg:col-start-7 lg:col-end-13">
                <div class="lg:pb-0 section-pb">
                    <img class="lg:max-w-[unset]" src="./assets/images/photos/whyChooseUs.png" alt="img" />
                </div>
            </div>
        </div>
    </div>
</section>